#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

body {
  margin: 0;
}

.navbar{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-size: 15vh;
  margin-bottom: 0;
}

.iconWrapper{
  width: 30%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.stackWrapper{
  width: 35%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.icons{
  width: 60%;
  margin: 0;
}

.splash{
  height: 100vh;
}

.subline{
  font-size: 1.5rem;
}

.projects{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 5vh;
  column-gap: 2vw;
}

.projects > h3{
  margin-bottom: 2vh;
}

.projects > p{
  margin: 0vh;
}

.projectCovers{
  width: 100%;
  height: 25vh;
  object-fit: cover;
}

.projectSection{
  height: 100vh;
  margin-bottom: 20vh;
}

.contactSection{
  height: 100vh;
}

.projectTitle{
  font-size: 3rem;
}

.projectPadding{
  background-color: #e3e3e3;
  display: flex;
  flex-direction: column;
  border-radius: 5%;
  padding: 1vw;
}

.projectPadding:hover{
  background-color: #b5b5b5;
}

.messageCard{
  background-color: lightgray;
  border-radius: 8px;
  padding: 1vw;
  margin-bottom: 4vh;
}